<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${tittle}">Mi Página</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <!-- Iconos -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/viewstyles.css}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div th:replace="~{fragments/board :: board}">
        <div th:fragment="contenido">
            <h1>Operador Logistico</h1>
            <div class="bg-[#F0F2F7] min-h-screen flex">
                <!-- Main content -->
                <main class="flex-1 p-6 max-w-full">

                    <h1 class="text-2xl font-bold mb-4">Crear Usuario</h1>

                    <!-- Contenedor Flex para el formulario y el listado -->
                    <div class="flex space-x-8">

                        <!-- FORMULARIO PARA ROLES -->
                        <form id="formularioRoles" class="w-1/3">
                            <!-- Campo para el nombre -->
                            <div class="mb-4">
                                <label for="nombre" class="block text-sm font-medium text-gray-700">ID de Usuario</label>
                                <input type="text" id="nombre" name="nombre" required
                                    class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring focus:ring-blue-500" />
                            </div>

                            <!-- Botón de creación -->
                            <div class="flex justify-center">
                                <button type="submit"
                                    class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">
                                    Crear
                                </button>
                            </div>
                        </form>

                        <!-- Tabla de roles (listado) -->
                        <div class="w-2/3 overflow-x-auto">
                            <table class="w-full text-xs text-left text-gray-600 border-separate border-spacing-y-2">
                                <thead>
                                    <tr class="border-b border-gray-300">
                                        <th class="text-center py-2 font-semibold text-gray-900">Nombre Completo</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla-oLogisticos-body">
                                    <!-- Aquí va la tabla -->
                                </tbody>
                            </table>
                        </div>

                    </div>

                </main>
            </div>

        </div>
    </div>

    <script th:src="@{/js/script.js}" defer></script>
    <script th:src="@{/js/oLogistico/create.js}" defer></script>
    <script th:src="@{/js/oLogistico/list.js}" defer></script>

</body>

</html>